[user]
	name = $user_name
	email = $user_email

[pull]
	rebase = true

[alias]
	nb = switch -c
	db = branch -d
	co = checkout
	new = !git init && git symbolic-ref HEAD refs/heads/main

[init]
	defaultBranch = main
